body {
  background-color: #1d1d22;
  font-family: Arial, sans-serif, helvetica;
  color: white;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.scrollable {
  height: auto;
  max-height: 80vh;
  overflow: auto;
}

.answer-option {
  background-color: #26262e;
  color: white;
  border: 2px solid #444444;
  padding: 10px 30px;
  margin: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.2s;
}

.answer-option:hover {
  background-color: #555555;
  transform: scale(1.05);
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  position: relative;
  z-index: 1;
}

.button-container button {
  margin: 0 10px;
}

ul {
  margin-bottom: 20px;
  padding: 0;
  list-style: none;
}

li {
  margin-bottom: 20px;
  font-size: 16px;
}

li:hover {
  background-color: #555555;
  transform: scale(1.05);
}

button {
  background-color: #132148;
  color: white;
  border: 2px solid #444444;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.2s;
}

input {
  width: auto;
  background-color: #132148;
  color: white;
  font-size: 20px;
  border: #555555;
  border-radius: 15%;
}

button:hover {
  background-color: #555555;
  transform: scale(1.05);
}

.correct-answer {
  background-color: #06e606;
  color: white;
}

.wrong-answer {
  background-color: rgb(245, 9, 9);
  color: white;
}

p {
  font-size: 18px;
  margin: 20px 0;
}

a {
  color: white;
  text-decoration: none;
}

#user-interface {
  padding: 20px;
}

@media screen and (max-width: 600px) {
  .button-container {
    flex-direction: column;
    margin-top: 10px;
  }

  .button-container button {
    margin-bottom: 10px;
  }
}
